dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 108px;
    vertical-align: top;
    color: chartreuse;
}
.normal {
    color:  blue;
}

.exceeded {
    color: red;
}